@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

:root {
  --background: #f6f1e7;
  --foreground: #1b1a1a;
}

@theme inline {
  --color-cream: #f6f1e7;
  --color-sand: #e4bf8b;
  --color-gold: #ccba78;
   --color-golfd: #baa448;
 
  --color-navy: #0a223a;
  --color-brown: #361c0c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica);
  --font-serif: var(--font-instrument-serif), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvetica), Arial, Helvetica, sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
